body {
  margin: 0;
  font-family: "CircularBlack", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "CircularBlack";
  src: local("CircularBlack"),
    url(/fonts/lineto-circular-black.ttf) format("truetype");
}

code {
  font-family: "CircularBlack", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
