.UserProfile {
  color: #fff;
  padding: 2vw;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.UPItem {
  width: 100%;
}

.ProfileImg {
  border-radius: 50%;
  height: 20vh;
  margin-top: 1vw;
}

.currentlyPlaying {
  font-family: "CircularProMedium";
  color: #e5e5e5;
  font-size: 1.5vh;
  display: flex;
}

.displayName {
  font-size: 3vh;
}

.displayId {
  color: #1db954;
  margin-top: -2vh;
  padding-bottom: 2vh;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1.3vh;
}

.followering {
  display: flex;
  margin-bottom: 2vh;
}

.followers {
  width: 50%;
}

.following {
  width: 50%;
}

.followersTitle {
  text-transform: uppercase;
  color: #b2b2b2;
  letter-spacing: 0.3em;
  font-size: 1.2vh;
}

.followerCount {
  color: #1db954;
}

.nav-button {
  background-color: #b2b2b2;
  text-transform: uppercase;
  color: #000;
  border-color: #b2b2b2;
  letter-spacing: 0.3em;
  font-family: "CircularProBold";
  font-size: 1.2vh;
  padding: 1.2vh 1.1vh 1.2vh 1.1vh;
  margin-bottom: 0.4vh;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #1db954;
  border-color: #000;
  color: #fff;
}

.currentlyPlaying {
  display: flex;
  justify-content: center;
}

.nowPlayingIcon {
  -moz-animation: blink normal 2s infinite ease-in-out;
  -webkit-animation: blink normal 2s infinite ease-in-out;
  -ms-animation: blink normal 2s infinite ease-in-out;
  animation: blink normal 2s infinite ease-in-out;
  height: 1.8vh;
  padding-right: 10px;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-panel {
  display: flex;
  flex-wrap: wrap;
}

.nav-panel .nav-button {
  width: 100%;
}
