.TopTracksArtists {
  color: #fff;
  display: grid;
  grid-template-columns: [first col1-start] 49% [col1-end col2-start] 49% [col2-end end];
  grid-template-rows: [first row1-start] 100% [row1-end end];
  grid-column-gap: 2%;
}

.item-x {
  grid-column-start: col1-start;
  grid-column-end: col1-end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.item-y {
  grid-column-start: col2-start;
  grid-column-end: col2-end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.artistsGrid {
  display: grid;
  grid-template-columns: [first col1-start] 24% [col1-end col2-start] 24% [col2-end col3-start] 24% [col3-end col4-start] 24% [col4-end end];
  grid-template-rows: [first row1-start] 19vh [row1-end row2-start] 19vh [row2-end row3-start] 19vh [row3-end row4-start] 19vh [row4-end end];
  grid-column-gap: 1%;
  grid-row-gap: 2%;
}

.artistImg {
  width: 6vw;
  height: 6vw;
  object-fit: cover;
  border-radius: 50%;
}

.artistImg:hover {
  opacity: 75%;
  cursor: pointer;
}

.artistName {
  color: #fff;
  font-weight: 400;
  font-size: 0.75vw;
  letter-spacing: 0.2em;
  margin-top: 0vh;
}

.artistName:hover {
  opacity: 75%;
  cursor: pointer;
}

.topTracksTable {
  font-family: "CircularProMedium";
  font-size: 1.5vh;
}

.timeFrameButtons {
  display: flex;
  padding-bottom: 2vh;
  margin-top: -2vh;
}

.timeFrameButton {
  flex: 30%;
  background-color: #b2b2b2;
  text-transform: uppercase;
  color: #000;
  border-color: #b2b2b2;
  letter-spacing: 0.3em;
  font-family: "CircularProBold";
  font-size: 1.2vh;
  padding: 1.2vh 1.1vh 1.2vh 1.1vh;
  margin: 0.4vh;
  text-decoration: none;
}

.timeFrameButton:hover {
  background-color: #1db954;
  border-color: #000;
  color: #fff;
}
