.RecentlyPlayed {
  font-family: "CircularProMedium";
  font-size: 1.5vh;
  background-color: #191414;
  color: #fff;
}

table {
  text-align: left;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #4c4c4c;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

th {
  text-transform: uppercase;
  color: #b2b2b2;
  letter-spacing: 0.3em;
  font-size: 1.2vh;
}

.tablenumber {
  text-align: center !important;
}

.trackName:hover {
  cursor: pointer;
}

.tablenumber:hover {
  background-color: #191414;
  background-image: url(../../img/play-sign.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
}

tr:hover {
  background-color: #4c4c4c;
}

.playlistImg {
  height: 3.5vh;
  border-radius: 50%;
  border: 1px solid #fff;
}
