.App {
  text-align: center;
  width: 100vw;
  padding: 10px;
  background-color: #191414;
}

.homedash {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: [first col1-start] 32% [col1-end col2-start] 32% [col2-end col3-start] 32% [col3-end end];
  grid-template-rows: [first row1-start] 49% [row1-end row2-start] 49% [row2-end end];
  grid-column-gap: 1.5%;
  grid-row-gap: 2%;
}

.item-a {
  grid-column-start: col1-start;
  grid-column-end: col1-end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.item-b {
  grid-column-start: col2-start;
  grid-column-end: col2-end;
  grid-row-start: row1-start;
  grid-row-end: row1-end;
}

.App-login {
  background-color: #191414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.login-btn {
  background-color: #1db954;
  color: #fff;
  font-family: "CircularProBold";
  font-size: 3vh;
  padding: 10px 50px 12px 50px;
  border-radius: 40px;
  text-decoration: none;
}
