.ArtistProfile {
  color: #fff;
}

.ArtistProfileImg {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  object-fit: cover;
}

.Albums {
  display: flex;
  flex-wrap: wrap;
  height: 57vh;
  overflow: scroll;
  width: 80%;
  margin: 0 4rem 0 8rem;
}

.Album {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  text-align: left;
  padding: 0.5rem;
  transition: 0.3s;
}

.Album:hover {
    opacity: 0.7;
    cursor: pointer;
}

.AlbumCover {
  width: 6vw;
  margin-right: 1vw;
  border-radius: 7px;
}

.artistFollowersTitle {
  text-transform: uppercase;
  color: #b2b2b2;
  letter-spacing: 0.3em;
  font-size: 1.2vh;
}

.artistFollowerCount {
  color: #1db954;
}
