.ArtistProfile {
  color: #fff;
}

.ArtistProfileImg {
  width: 10vw;
  border-radius: 50%;
}

.Albums {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.Album {
  width: 40%;
  text-align: left;
  justify-items: center;
}

.AlbumCover {
  width: 6vw;
  margin-right: 1vw;
}

.artistFollowersTitle {
  text-transform: uppercase;
  color: #b2b2b2;
  letter-spacing: 0.3em;
  font-size: 1.2vh;
}

.artistFollowerCount {
  color: #1db954;
}
